.item__conteiner {
  width: 440px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item_form-el {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  outline-color: var(--red);
}

.item__title-conteiner {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item__delete-button {
  padding: 0;
  box-sizing: border-box;
  background: center no-repeat url(../../images/cross.svg) var(--white);
}

.item__title {
  width: 390px;
  height: 40px;
  padding-left: 10px;
  background-color: var(--white);
  box-sizing: border-box;
}

.item__sub-conteiner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 390px;
  height: 40px;
  margin: 10px 0 10px 0;
}

.item__data-input {
  width: 144px;
  height: 40px;
  background-color: var(--white);
  padding: 0 5px 0 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.item__option-conteiner {
  width: 90px;
  height: 40px;
  margin: 0 0 0 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item__button {
  width: 40px;
  height: 40px;
  padding: 0;
}

.item__button_s {
  width: 30px;
  height: 30px;
  padding: 0;
}

.item__save-button {
  padding: 0;
  border: 0;
  background: var(--white) no-repeat center url(../../images/save.svg);
  outline-color: var(--red);
}

.item__add-button {
  border: 0;
  padding: 0;
  background: var(--white) no-repeat center url(../../images/paper-clip.svg);
  margin-left: 20px;
  outline-color: var(--red);
}

.item__done-container {
  width: 115px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 20px;
}

.item__subtitle {
  font-size: 12px;
}

.item__done-button {
  padding: 0;
  background: var(--white) no-repeat center url(../../images/check.svg);
}

.item__description {
  width: 390px;
  height: 120px;
  box-sizing: border-box;
  margin: 10px 0 0 0;
  background-color: var(--white);
  resize: none;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
}
